/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#topLabel {
    -fx-font-size: 20px;
    -fx-text-fill: #FC4100;
    -fx-font-family: "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: transparent; /* Transparent background for labels */
}

#bottomLabel {
	-fx-font-size: 16px;
	-fx-font-family: "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
	-fx-font-weight: bold;
	-fx-background-color: transparent; /* Transparent background for labels */
}

#topHbox, #bottomHbox {
    -fx-background-color: white;
    -fx-padding: 15px;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 1px;
}

#centerVBox {
	-fx-background-color : white;
}

#buttonsHBox {
	-fx-background-color : white;
}

.button-style {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #FC4100;
    -fx-padding: 10px;
    -fx-border-color: #d35400;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-min-width: 50px;
    -fx-padding: 10px 20px;
}

.button-style:hover {
    -fx-background-color: #FF5733;
    -fx-cursor: hand;
}

.button-style:pressed {
    -fx-background-color: #FFC55A;
}

.button-style:disabled {
    -fx-opacity: 0.5;
}


.menu-button {
    -fx-background-color: #FC4100;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Ubuntu";
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.menu-button:hover {
    -fx-background-color: #FF5733;
    -fx-cursor: hand;
}

.menu-button:pressed {
    -fx-background-color: #FFC55A;
}


.change-container {
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

.change-title {
    -fx-text-fill: #00215E; /* Dark blue */
    -fx-font-family: "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-padding: 10px;
    -fx-pref-width: 300px;
    -fx-font-size: 14px;
}

.change-button-bar {
    -fx-spacing: 10px;
}

.change-button, .popup-button, .delete-button {
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-background-color: #FC4100; /* Orange */
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.change-button:hover, .popup-button:hover, .delete-button:hover {
    -fx-background-color: #FF5733;
}

.delete-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #00215E; /* Dark blue */
}

.warning-label {
    -fx-font-size: 14px;
    -fx-text-fill: #FF0000; /* Red */
    -fx-font-weight: bold;
}

.delete-text-field {
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
}

.delete-button-bar {
    -fx-spacing: 20px;
}

.success-message {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #FF0000; 
}
